* {
  margin: 0;
  padding: 0;
}

:root {
  font-size: 62.5%;
  --main-color: hsl(200 100% 45% / 1);
  --bg-color: hsl(200 30% 90% / 75%);
}

body {
  font-size: 1.6rem;
  font-family: "Roboto", Verdana, Tahoma, sans-serif;
}

ul {
  list-style: none;
}

img {
  width: 30px;
}

button {
  border: none;
  background: none;
}

button:hover {
  cursor: pointer;
}

.container {
  display: grid;
  grid-template: max-content 5fr / 1fr 5fr;
  height: 100vh;
}

.header {
  grid-column: 2;
  position: relative;
  box-shadow: 0rem 0.1rem 1rem hsl(0deg 0% 0% / 10%);
  font-weight: bold;
}

.header-container {
  margin: 2rem 5rem 2rem 3rem;
}

.nav {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 1rem;
  align-items: center;
  margin-bottom: 2rem;
}

.search {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  grid-gap: 1rem;
}

.search input {
  width: 30%;
  height: 100%;
  padding: 0 1rem;
  border: none;
  border-radius: 1rem;
  background: var(--bg-color);
}

.search input:focus {
  transition: all 0.2s ease-in-out;
  width: 100%;
}

.profile {
  display: grid;
  grid-template-columns: repeat(3, auto);
  align-items: center;
  grid-gap: 3rem;
}

:is(.search-btn, .notifications):is(:hover, :focus) {
  animation: 0.25s 2 swing;
}

@keyframes swing {
  25% {
    transform: rotate(15deg);
  }

  75% {
    transform: rotate(-15deg);
  }

  50%,
  100% {
    transform: rotate(0deg);
  }
}

.profile-picture-small {
  width: 3rem;
  border-radius: 50%;
}

.user-panel {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  margin-left: 1rem;
}

.profile-picture {
  width: 5rem;
  border-radius: 50%;
  margin-right: 2rem;
}

.info {
  display: grid;
  grid-template-columns: auto 1fr;
}

.greeting {
  display: grid;
  align-content: center;
}

.greeting > p {
  font-size: 1.4rem;
}

.greeting > p + p {
  font-size: 2rem;
}

.actions {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 3rem;
}

.actions > button {
  width: 10rem;
  padding: 1rem 2rem;
  border-radius: 2rem;
  color: white;
  background: var(--main-color);
  font-weight: bold;
}

.actions > button:is(:hover, :focus) {
  transition: all 0.2s ease-in-out;
  scale: 1.1;
  color: var(--main-color);
  background: hsl(200 30% 85% / 100%);
}

.aside {
  grid-row: 1 / -1;
  display: grid;
  grid-template-rows: repeat(3, max-content);
  grid-gap: 5rem;
  color: white;
  font-weight: bold;
  background-color: var(--main-color);
  font-size: 1.8rem;
}

.dashboard {
  display: grid;
  grid-template-columns: 3rem 1fr;
  grid-gap: 1rem;
  font-size: 2.5rem;
  padding: 2rem 2rem 0 2rem;
}

.logo {
  display: grid;
  grid-template: 3fr 1fr 3fr / repeat(2, 1fr);
  grid-gap: 5px;
}

.logo:hover {
  animation: 0.8s 1 forwards rotation;
}

@keyframes rotation {
  75% {
    transform: rotate(90deg);
    background-color: var(--main-color);
  }
  100% {
    transform: rotate(90deg);
    background-color: white;
  }
}

.logo-item {
  background: white;
}

.logo-item-1 {
  grid-row: span 2;
}

.logo-item-3 {
  grid-row: span 2;
}

.panel li {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 1rem;
  cursor: pointer;
  padding: 1rem 0;
}

.panel li + li {
  margin-top: 1rem;
}

.panel li:hover {
  transition: all 0.2s;
  border-right: 5px solid;
  border-radius: 4px;
  grid-gap: 1.5rem;
  padding-left: 0.5rem;
  background: hsl(200 100% 55% / 1);
}

.panel img {
  width: 2.5rem;
  filter: invert(1);
  padding-left: 2.5rem;
}

.panel li:hover img {
  transition: all 0.2s;
  scale: 1.2;
}

.main {
  display: grid;
  /* grid-template: repeat(2, max-content) / 5fr 2fr; */
  grid-template: repeat(2, 1fr) / 5fr 2fr;
  grid-gap: 2rem;
  padding: 3rem 3rem 2rem 2rem;
  background: var(--bg-color);
}

.main > div > p {
  margin-bottom: 0.5rem;
  font-size: 1.8rem;
  font-weight: bold;
}

.projects {
  grid-row: span 2;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-gap: 1rem;
}

.cards {
  display: grid;
  grid-template: 1fr / repeat(auto-fit, minmax(400px, 1fr));
  grid-auto-rows: 1fr;
  grid-gap: 2rem;
}

.card {
  display: grid;
  grid-template-rows: auto 1fr auto;
  padding: 2rem;
  border-left: 0.5rem solid orange;
}

.card,
.announcement-list,
.trending-list {
  border-radius: 1rem;
  background: white;
  box-shadow: 0.5rem 0.5rem 0.5rem hsl(0, 0%, 0%, 10%);
}

.card:is(:hover, :focus) {
  transition: all 0.2s ease-in-out;
  translate: 0 -0.5rem;
  box-shadow: 0.5rem 1rem 1rem hsl(0, 0%, 0%, 10%);
}

.card-title,
.announcement-title {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.card-description,
.announcement-description,
.trending-item-description {
  font-size: 1.4rem;
}

.card-actions {
  display: flex;
  justify-content: end;
  gap: 3rem;
}

.card-actions button:is(:hover, :focus) {
  transition: all 0.1s ease-in;
  scale: 1.2;
}

.main-list {
  margin-top: 1rem;
  padding: 2rem 3rem;
  display: grid;
}

.announcements,
.trending {
  display: grid;
  grid-template-rows: auto 1fr;
}

.announcement-list {
  grid-template-rows: 1fr 1px 1fr 1px 1fr;
  grid-gap: 1rem;
}

.announcement {
  display: grid;
  align-content: center;
}

.horizontal-line {
  background: black;
}

.trending-list {
  grid-template-rows: repeat(4, 1fr);
  align-items: center;
  grid-gap: 2rem;
}

.trending-item {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}
